extends layout

block stylesheets
  link(rel='stylesheet', href='/css/app.bundle.css')
block content
  .container
    table
      thead
        tr
          th #
          th.name name
          th mimetype
          th size
          th.watch watch
          th.copy link
      tbody.videoList

  script(src='/js/app.bundle.js')
