extends layout

block stylesheets
  link(rel='stylesheet', href='/css/app.bundle.css')
block content
  .container
    table
      thead
        tr
          th(data-sort='num') #
          th.name(data-sort='name') name
          th(data-sort='mimetype') mimetype
          th(data-sort='size') size
          th.watch watch
          th.copy link
      tbody.videoList

  script(src='/js/app.bundle.js')
