extends layout

block stylesheets
  link(rel='stylesheet', href='/css/upload.bundle.css')

block content
  .upload-container
    h2 Upload
    form#uploadForm.input-group(method='POST', action='/api', enctype='multipart/form-data')
      label.file
        input#fileInput.file-input(type='file', multiple, name='video')
        span.file-control
      input#submit.btn.btn-primary(type='submit', value='Submit')
  .upload-info
    h2
      span.speed &nbsp;
      span.elapsed &nbsp;
    .progress
      .progress-bar.bg-cyan
  .delete-container
    h2 Delete
    .input-group
      select.videoSelect
        option Select Media File...
      input#deleteSubmitButton.btn.btn-danger(type='submit', value='Delete')
  script(src='/js/upload.bundle.js')
